{{define "body"}}
    <div class="landing-page">
        <section class="hero-background">
            <h1>BentoBox</h1>
            <h2>Thousands of kids in American schools have unpaid school lunch balances.</h2>
            <h2>Help ease the burden for these students and their families.</h2>
        </section>

        <div class="container">
            <section class="card">
                <div class="card__header">
                    <h2>Schools around you</h2>
                </div>
                <div class="card__media">
                    <div id="map"></div>
                </div>
            </section>
        </div>
        <div class="flex row container">
            <div class="main card">
                <div class="card__header">
                    <h2>Our Story?</h2>
                </div>

                <div class="card__content">
                    <p>It all started with a tweet -- one simple tweet asking for people across the country to contact
                        their local schools and ask if there were students with school lunch balances and how they could
                        help pay the balances off for those students.</p>
                    <p>I answered the call and was surprised by just how many schools in my own community and beyond
                        have students with balances. Thousands and thousands of dollars. As a concerned community member
                        who is committed helping kids, I jumped at the opportunity to lessen the burden for some of these
                        students and working families.</p>
                </div>
            </div>
            <div class="secondary card">
                <div class="card__header">
                    <h2>Why?</h2>
                </div>

                <div class="card__content">
                    <p>Or maybe we should be asking how. How is it that the richest and most powerful nation in the world
                        has thousands of kids in its schools unable to afford to pay for breakfast or lunch?</p>
                    <p>When it comes to the biggest challenges our communities face, so few software developers and technologists
                        are tackling the basic issues that matter most.</p>
                </div>
            </div>

        </div>
        <div class="flex column container">
            <div class="card">
                <div class="card__header">
                    <h2>Where?</h2>
                </div>

                <div class="card__content">
                    <p>We currently allow schools all over the country to share their unpaid lunch balances with us,
                        and we provide donors the ability to contribute directly to the schools.</p>
                </div>

                <div class="card__actions">
                    <a class="primary button" href="/schools/create">
                        Host your school
                    </a>
                    <a class="primary button" href="/schools">
                        Contact a local school
                    </a>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{define "scripts"}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNsW5TODUbmv2K_0pswqz_P09-e6YeY8s"></script>
    <script>
        // TODO: make a GET request to get a list of school and their geo location
        //       and show them under google map around user
        // TODO: get user location (asking for permission) or defaulting back
        //       to Los Angeles or US

        // TODO: add Twitter integration with Bentobox account
        var uluru = {lat: 34.043, lng: -118.244};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: uluru
        });
    </script>
{{end}}