{{define "body"}}
    <div class="top-margin container">
        {{range $id, $school := .Schools}}
            <section class="card">
                <div class="card__header">
                    <h2>
                        {{$school.Name}}
                    </h2>
                    <div class="subhead">
                        {{len $school.Data}} Students
                    </div>
                </div>
                <div class="card__content">
                    {{$school.Description}}
                </div>
                <div class="card__actions">
                    <a class="raised button" href="{{$school.Link}}">
                        Donate
                    </a>
                </div>
            </section>
        {{end}}
    </div>
{{end}}
{{define "scripts"}}
{{end}}